<p id="notice"><%= notice %></p>

<h1>Bikes on Sale</h1>


<div class="container-fluid product-list">
  <div class="row">
  <% @products.each do |product| %>
      <%= render @products %>
      <%= render @carouselIndicators %>
    <% end %>    
  </div>
</div>


<div class="new-product">
<%= link_to 'Add new product', new_product_path %>
</div>
 