
<p id="notice"><%= notice %></p>
<div class="container header">
  <h1>Bikes on Sale</h1>
  <div class="row products">
   <div class="col-md-4 col-xs-12">
      <%= render @products %>
   </div>
  </div>
 </div>
<br>
<div class="new-product">
<%= link_to 'Add new product', new_product_path %>
</div>

 